@import url('https://fonts.googleapis.com/css2?family=Sedan:ital@0;1&display=swap');

body {
    margin: 0;
    font-family: "Sedan", serif;
}

.container {
    height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to top left,
            #005effe4,
            rgb(175, 14, 203));
}

.box {
    padding: 40px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
    font-size: 1.4rem;
    font-weight: 900;
}

.cat {
    background-image: url('./images/img.jpg');
    background-size: cover;
    background-position: center;
    background-blend-mode: color;
    background-repeat: no-repeat;
    box-shadow: 32px -25px 101px 22px rgba(0, 0, 0, 0.74),
        inset 0px 0px 300px 16px rgba(0, 0, 0, 0.87);
}


.text {
    box-shadow: inset 0px 0px 50px 16px rgba(250, 250, 250, 0.87);
    text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #34ff2d 0px 0px 20px, #2dff3b 0px 0px 30px, #2dff49 0px 0px 40px, #57ff2d 0px 0px 50px, #2dff3e 0px 0px 75px; 
}
